#static_map {
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
  background: url("https://maps.googleapis.com/maps/api/staticmap?&zoom=11&size=650x200&format=jpg&scale=2&markers=size:mid%7Ccolor:red%7C%2040.713829,-73.989667%7C%2040.683555,-73.966393%7C%2040.747143,-73.985414%7C%2040.722216,-73.987501%7C%2040.705089,-73.933585%7C%2040.727397,-73.983645%7C%2040.726584,-74.002082%7C%2040.743797,-73.950652%7C%2040.743394,-73.954235%7C%2040.674925,-74.016162%7C&key=AIzaSyDgN4Cd_214KMTzTKZofZAum8dmywVpfc4") no-repeat 50% 50%;}

@media screen and (min-width: 700px) {
  .inside main {
    width: 95%;
    margin: 0px auto; }
  /*Restaurant list */
  .restaurant-listing {
    width: 47%;
    margin: 5px;
    min-width: 300px; }
  /*Restaurant details */
  .inside #map-container {
    margin-left: 0.5%;
    width: 49.5%; }
  #restaurant-container {
    width: 49.5%;
    margin-right: 0.5%;
    font-size: 1em; }
  #reviews-container {
    width: 100%; }
  .restaurant-ratings {
    width: 48%;
    margin: 5px; }
  #restaurant-img {
    width: 50vw;
    height: calc(47.5vw*0.75); }
  img#restaurant-img.restaurant-img {
    width: 50vw;
    -o-object-fit: cover;
       object-fit: cover; }
  li.restaurant-ratings:last-child {
    margin-right: 0; }
  .inside #map-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  #map-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  #restaurant-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  #reviews-container {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } 


            }

@media screen and (min-width: 950px) {
  main {
    width: 90%;
    margin: 0 auto; }
  header a {
    font-size: 3vw; }
  /*Restaurant list */
  .restaurant-listing {
    width: 31%;
    margin-left: 1%;
    font-size: 1em;
    min-width: 200px; }
  .restaurant-listing img {
    width: 30vw; }
  .restaurant-listing h3 {
    letter-spacing: 0px; }
  /*Restaurant details */
  h2#restaurant-name {
    padding: 10px 0; }
  .restaurant-ratings {
    width: 32%; }
  p.comment {
    min-height: 350px; }
  #restaurant-hours {
    font-size: 1.2em; }
  #restaurant-img {
    width: 45vw;
    height: calc(45vw*0.75); }
  img#restaurant-img.restaurant-img {
    width: 50vw;
    -o-object-fit: cover;
       object-fit: cover; } }

@media screen and (min-width: 1300px) {
  main {
    max-width: 80%;
    margin: 0 auto;
    max-width: 1200px; }
  #restaurant-img {
    width: 50vw;
    height: calc(600px*0.75); }
  img#restaurant-img.restaurant-img {
    width: 50vw;
    -o-object-fit: cover;
       object-fit: cover; } }