/* CSS Document */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f3f3f3; }

body {
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 100%;
  color: #333;
  background-color: #f3f3f3; }

header {
  width: 100%; }

ul, li, td, th, p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 1.5; }

a {
  color: #3397db;
  text-decoration: none; }

a:hover, a:focus {
  color: #fff;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 20px; }

h2, .inside h3 {
  color: #f58500;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 5px; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  width: 100%; }

main {
  background-color: #f3f3f3;
  min-height: 100%;
  min-width: 200px; }

footer {
  background-color: #444;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

img, object, embed, video {
  max-width: 100%; }

/* ====================== Navigation ====================== */
header {
  width: 100%;
  background-color: #252831;
  text-align: center;
  min-height: 80px; }

header h1 {
  margin: 0 auto; }

header a {
  color: #fff;
  font-size: 1.5em;
  font-size: 5vw;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 20px 5px;
  display: block; }

nav {
  width: 100%;
  color: #0275d8;
  font-size: 1.2em;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

/* Display list items side by side */
ul#breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  font-size: 1em;
  padding: 6px; }

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  background: #0275d8;
  color: #fff;
  text-decoration: underline; }

.skip-links {
  position: absolute;
  top: -200px;
  left: 20px;
  z-index: 100;
  background: #ba3007;
  color: #fff;
  padding: 8px; }

.skip-links a {
  color: #fff; }

.skip-links:focus {
  top: 200px; }

/* ====================== Map ====================== */
#map {
  width: 100%;
  background-color: #ccc; }

#map-container {
  width: 100%;
  min-height: 400px;
  margin: 0 auto; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px; }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  margin: 0;
  padding: 10px 0px;
  list-style: outside none none; }

.restaurant-listing h3, #restaurant-container h2 {
  width: 100%;
  color: #f18200;
  background-color: #333;
  padding: 10px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.3;
  font-size: 1.2em;
  padding: 20px 0px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px 0px 0px 0px;
  background-color: #333; }

.restaurant-listing {
  background-color: #ffffff;
  margin: 10px;
  padding: 0px;
  text-align: left;
  width: 100%;
  border-radius: 15px 0px 15px 0px; }

#restaurant-img img {
  -o-object-fit: contain;
     object-fit: contain; }

#restaurants-list p {
  margin: 5px 10px;
  font-size: 1em; }

#restaurants-list a {
  background-color: #f1a000;
  color: #262626;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 20px 15px; }

#restaurants-list a:hover, #restaurants-list a:focus {
  color: #fff; }

/* ====================== Restaurant Details ====================== */
#restaurant-address {
  font-weight: bold;
  padding: 0px;
  margin: 0 auto; }

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  font-size: 1.2em;
  width: 100%;
  padding: 0;
  background: #fff;
  border-radius: 20px 0px 0px 0px; }

#restaurant-cuisine, p.rating {
  background-color: #f1a000;
  color: #ffff;
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 1em;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

#restaurants-list {
  margin: 10px auto;
  padding: 10px; }

.restaurant-ratings {
  background-color: #fff;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 15px 0px 15px 0px;
  text-align: justify; }

#reviews-list {
  width: 100%;
  margin: 0 auto; }

#reviews-container ul {
  width: 100%;
  margin: 0;
  padding: 0; }

#restaurant-hours {
  width: 100%;
  margin: 5px 8px; }

.name, .date {
  color: #ffffff;
  background-color: #333;
  margin: 0;
  height: 1.5em; }

.name {
  font-weight: 500;
  color: #fefefe;
  width: 48%;
  padding-left: 3%;
  text-align: left;
  border-radius: 15px 0px 0px 0px; }

.date {
  font-weight: 300;
  width: 47%;
  text-align: right;
  padding-right: 2%; }

p.comments {
  padding: 10px; }

p.rating {
  padding: 0 10px; }

#restaurants-list p.address {
  height: 3em; }
